/* This is a CSS comment.*/
*{-webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -ms-sizing:border-box;
  box-sizing: border-box;
}
h1{
  font-weight: bold;
  font-style: italic;
  background-color: crimson;
}
h2{
  font-weight: bold;
  font-style: italic;
}
div{
  max-width: 100%;
}
.Basics{
  display: flex;
}
.Concept{
  background-color: magenta;
}
.Advanced{
  background-color: orange;
}
/*
Comments are only to help PEOPLE read a code file. The
computer ignores them.
*/
